:root {
    --red: #78001C;
    --yellow: #FFB300;
    --grey: #4c474a;
    --black: #000000;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Inconsolata;
}

h1 {
    margin: 0;
}

p {
    line-height: 1.5;
}

ol > li {
    padding-bottom: 1.6em;
}
ol > li::marker {
  font-weight: bold;
}

a, a:visited {
    color: var(--yellow);
    text-decoration: none;
    position: relative;
    display: inline-block;
}

a.inverted, a:visited.inverted {
    color: var(--red);
    text-decoration: none;
    position: relative;
}

a::after {
    content: "";
    background-color: var(--yellow);
    top: 100%;
    left: 0%;
    height: 1px;
    width: 100%;
    transition: transform 150ms;
    transform-origin: left center;
    transform: scaleX(0);
    will-change: transform;
    position: absolute;
}

a.inverted::after {
    background-color: var(--red);
}

a:hover::after {
    transform: scaleX(1);
}
